= link_to 'Home', root_path
- if current_customer.present?
  %ul
    - if current_customer.admin?
      %li
        = link_to 'View All Order', all_orders_path
    %li
      = link_to 'My Order', orders_path
    %li
      = link_to 'Edit profile', edit_customer_registration_path
    %li
      = link_to 'Sign out', destroy_customer_session_path, data: { turbo_method: :delete }
- else
  %li
    = link_to 'Sign Up', new_customer_registration_path
  %li
    = link_to 'Sign in', new_customer_session_path
